In [46]:
%reload_ext sql
%sql postgresql://user_tp:ue_bd_ihm_db@localhost/ue_bd_ihm_db

'Connected: user_tp@ue_bd_ihm_db'

In [118]:
%%sql

drop table if exists compte cascade;
drop table if exists commentaire cascade;
drop table if exists remboursement cascade;
drop table if exists depenses cascade;
drop table if exists categorie cascade;
drop table if exists reaction cascade;
drop table if exists smiley cascade;
drop table if exists membres cascade;
drop table if exists appartient cascade;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.
Done.

[]

In [119]:
%%sql
CREATE TABLE membres (
    id integer primary key,
    nom varchar(30) not null,
    email varchar(100) not null
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
Done.

[]

In [120]:
%%sql
create table compte (
    id integer primary key,
    nom varchar(30) not null,
    createur integer references membres(id),
    membres integer references membres(id)
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
Done.

[]

In [121]:
%%sql
create table remboursement (
    id integer primary key,
    depense integer references depenses(id),
    montant_remboursement float not null,
    creancier integer references membres(id),
    debiteur integer references membres(id)
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
(psycopg2.errors.UndefinedTable) relation "depenses" does not exist

[SQL: create table remboursement (
    id integer primary key,
    depense integer references depenses(id),
    montant_remboursement float not null,
    creancier integer references membres(id),
    debiteur integer references membres(id)
);]
(Background on this error at: http://sqlalche.me/e/f405)

In [112]:
%%sql
create table depenses (
    id integer primary key,
    montant_depense float not null,
    payeur integer references membres(id),
    date_dépense varchar(30) not null,
    categorie varchar(30) references categorie(nom)
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
Done.

[]

In [122]:
%%sql
create table categorie (
    nom varchar(30) primary key
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
Done.

[]

In [124]:
%%sql
create table commentaire (
    id integer primary key,
    auteur integer references membres(id),
    depense integer references depenses(id),
    date_commentaire varchar(30) not null,
    message varchar(1000) not null
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
(psycopg2.errors.UndefinedTable) relation "depenses" does not exist

[SQL: create table commentaire (
    id integer primary key,
    auteur integer references membres(id),
    depense integer references depenses(id),
    date_commentaire varchar(30) not null,
    message varchar(1000) not null
);]
(Background on this error at: http://sqlalche.me/e/f405)

In [125]:
%%sql
create table reaction (
    id integer primary key,
    personne_qui_réagit integer references membres(id),
    smiley varchar(100) references smiley(URL)
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
(psycopg2.errors.UndefinedTable) relation "smiley" does not exist

[SQL: create table reaction (
    id integer primary key,
    personne_qui_réagit integer references membres(id),
    smiley varchar(100) references smiley(URL)
);]
(Background on this error at: http://sqlalche.me/e/f405)

In [126]:
%%sql
create table smiley (
    URL varchar(100) primary key,
    nom varchar(50) not null
);

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
Done.

[]

In [127]:
%%sql
create table appartient (
    compte integer references compte(id),
    membre integer references compte(id),
    primary key (compte,membre)
) ;

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
Done.

[]

In [128]:
%%sql
insert into membres values(1,'Lilian','adresse email lilian')

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
1 rows affected.

[]

In [130]:
%%sql
insert into membres values(2,'Mattys','lebgdusal@veryhotmail.com')

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
1 rows affected.

[]

In [131]:
%%sql
select * from membres

 * postgresql://user_tp:***@localhost/ue_bd_ihm_db
2 rows affected.

[(1, 'Lilian', 'adresse email lilian'),
 (2, 'Mattys', 'lebgdusal@veryhotmail.com')]

In [ ]:
%%sql 
insert into